.popup {
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &::before {
    content: '';
    position: absolute;
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;

    z-index: -1;
  }
}

.dialog {
  position: relative;
  background-color: #5c5c5c;
  padding: 20px;

  z-index: 1;
}
