.button {
  all: unset;
}

.card {
  position: relative;

  display: flex;
  flex-direction: column;

  list-style-type: none;
  padding: 20px;

  background-color: #121212;
  border: 1px solid #121212;
  border-radius: 10px;
  transition: transform 0.4s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.12);
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #eaeaea;
    text-transform: uppercase;

    margin-bottom: 20px;
  }

  &__textContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__subTitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    color: #eaeaea;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 13px;
    text-transform: capitalize;
    color: #eaeaea;
  }
}
